Огород-3
Моделировать в виде пошаговой симуляции, с возможностью изменения (например, добавление, удаление) элементов модели
Предметная область
выращивание растений на садовом участке в зависимости от погодных условий и вредителей
Важные сущность
Грядка, семена, овощи, сад, деревья, фрукты, вредители, погода, дождь, полив, солнце, засуха
Направления развития
  Добавление растения, которые защищают другие растения от вредителей
  Добавление возможности отмены сделанных шагов симуляции